* {
  box-sizing: border-box;
}

body {
  background-color:#d9d9d9;
  font-family:'Inter', sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
}


nav img {
  max-width: 10%;
  height: auto;
  display: block;
  width: 100%;
 
}

nav ul li a:hover {
  color: #009894;

}


.btn-primary {
  background-color: #009894;
  border: #009894;
}

.btn-primary:hover {
  background-color: #00605d;

}


.border-bottom {
  color: #00605d;
}
.navbar-toggler {
  color: #00605d;
}


.display-1{
  font-family:'Inter', sans-serif;
  font-size: 40px;

}

.btn-secondary, .btn-secondary:hover{
  border: #00605d 1.5px solid;
  background-color: #fff;
  color: #222;
}

.btn-secondary:hover {
  background-color: #009894;
  color: #fff;
}